<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Friedrich Backman</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="title">
      <!-- <h1>Friedrich Backman</h1> -->
      <ul>
       <a href="../views/home.html"><li>Home</li></a> 
       <a href="../views/works.html"><li>Works</li></a> 
       <a href="../views/about.html"><li>About</li></a> 
      </ul>
    </div>
    <div class="page-container">
    <div>
      <h2>About Fredrik Backman</h2>
      <p>Fredrik Backman is the #1 New York Times bestselling author of <em>A Man Called Ove, My Grandmother Asked Me to Tell You She’s Sorry, Britt-Marie Was Here, Beartown, Us Against You,</em>  and <em>People</em> , as well as two novellas and one work of nonfiction. <br> His books are published in more than forty countries. <br> He lives in Stockholm, Sweden, with his wife and two children. </p>  
    </div>
   <div>
    <img src="../images/backman.jpg"></img>
   </div> 
  </div>
  </body>
</html>