<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Friedrich Backman</title>
        <link rel="stylesheet" href="../stylesheets/home.css"/>
    </head>

  <body>
    <div class="title">
    <ul>
        <a href="../views/home.html"><li>Home</li></a> 
        <a href="../views/works.html"><li>Works</li></a> 
        <a href="../views/about.html"><li>About</li></a> 
    </ul>
    </div>

    <div class="container">
        <div>
            <img src="../images/the_winners.png" alt="Book_logo">
        </div>
        <div>
            <h2>My favorite modern writer</h2>
            <p>Fredrik Backman's books are widely loved because he crafts relatable characters tackling real-life challenges, mixing deep insights with humor. By finding beauty in the ordinary, his stories resonate deeply and evoke a strong emotional connection from readers everywhere.</p>
            <h2>Latest Book</h2>
            <p>The long-awaited conclusion to the beloved New York Times bestselling and “engrossing” (People) Beartown series—which inspired an HBO series of the same name—follows the small hockey town’s residents as they grapple with change, pain, hope, and redemption.</p>
        </div>
    </div>
  </body>
</html>